<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Forum - Homepage</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
</head>
<body>
  {% if user.is_authenticated %}
    <p>Hi {{ user.username }}!</p>
    <p><a href="{% url 'posts_list' %}">Post list <span class="glyphicon glyphicon-home"></span></a></p>
    <p><a href="{% url 'logout' %}">Logout <span class="glyphicon glyphicon-off"></span></a></p>
    <p><a href="{% url 'accounts:user_detail' pk=user.pk %}">My profile<span class="glyphicon glyphicon-user"></span></a></p>
    <p><a href="{% url 'post_new' %}">Add post <span class="glyphicon glyphicon-plus"></span></a></p>
  {% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Login</a> or <a href="{% url 'accounts:signup' %}">Register</a>
  {% endif %}
{% block content %}
{% endblock %}
</body>
</html>
